@media screen and (min-width: 990px) {
  .navbar {
    width: 24%;
    position: fixed;
    height: 100vh;
    display: block;
  }
  .display{
   display:block;
  }
}
@media screen and (max-width: 990px) {
  .navbar {
    width: 100%;
    position: sticky;
    height: auto;
    display: block;
  }
  .display{
    display:none;
  }
}
.navbar {
 background-color: rgb(26, 72, 99);
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}
.navbar::-webkit-scrollbar {
  display: none;
}
button {
  outline: none;
  color: white;
}
img {
  width: 150px;
  border-radius: 100%;
}

.navbar_brand {
  color: white;
  widows: 100%;
  text-align: center;
  outline: none;
}
.navbar_brand:hover{
  cursor: pointer;
}
.name {
  font-size: 22px;
  font-weight: 500;
}
.field {
  font-weight: lighter;
  font-size: 18px;
}
hr {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.747);
  border: none;
}
.item{
  width:100%;
  color: rgb(155, 142, 142);
  font-size: 17px;
  font-weight: light;
  pointer-events: unset;
  outline: none;
  margin-bottom: 20px;
}
.item:hover{
  color: white;
  font-size: 17.5px;
  cursor: pointer;
  opacity: 1 !important;

}
i{
  font-size: 25px;
  margin-top: 10px;
  color: rgb(187, 173, 173);
}
.active-link{
  color: white;
  font-size: 17px;
  font-weight: 500;
}
.contact{
  color: rgb(187, 173, 173);
  margin-top: 50px;
}
i:hover{
  color: white;
  cursor: pointer;
  font-size: 20.5px;
}
.arrow{
  margin-right:5px;
  float:right;
  color: white;
  transform: rotate(180deg);
}

.display-arrow
{
  display: none;
}
.fa-play{
  color: white;
}
