
@keyframes a
{
  0% {
    color: black;
     }
  50% {
    color:rgb(20, 109, 50);
    letter-spacing: 8px;
  }
  100%{
    letter-spacing:1px;
  }
}
body{
 margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;

}
nav{
  background-color: white;
  margin: 0;
  position: fixed;
  width: 15%;
}

a
{
  text-decoration: none;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.582);
  line-height: 50px;
  display: inline-block;
  font-weight: 200;
}
a:hover {
  color: rgba(0, 0, 0, 0.582);
  border-left: 3px solid ;
  border: none;
  font-weight: 200;
  text-decoration: none;
}
nav div:not(.logo):hover{
  background-color: #fafafabd;
	border-left: 3px solid ;
}
.logo
{
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  padding: 32px;
  text-align: center;
  margin: 0 0 20px 0;

}
.name
{
  font-size: 40px;
  font-weight: lighter;
  color: rgb(39, 129, 133);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height:0;
  
}
.specialization
{
  color:rgb(196, 143, 143);
}
nav div i
{
 padding: 0 15px 0 15px;
 font-size: 23px;
}
i.glyphicon-user{
 color: rgba(54, 170, 54, 0.897);
}
i.glyphicon-signal{
color:rgb(180, 61, 180);
}
i.glyphicon-education
{
  color:rgb(214, 60, 60);
}
i.glyphicon-folder-open
{
  color: rgb(212, 212, 47);
}
i.glyphicon-envelope
{
  color: rgb(69, 69, 209);
}
section
{
  margin-left: 15%;
}
section.home
{
  margin-left: 15%;
  margin-top: -20px;
  width: 85%;
  height: 100vh;
  background-image: url("home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;

}
h1{
  font-size: 50px;
  font-style: italic;
  animation: a 3s;
  letter-spacing: 1px;
}
blockquote{
  margin: 20px 50px;
  color:white;
}
blockquote footer{
  color: rgb(212, 203, 203);
}
section.about
{
  background-color: white;
  background-position: center;
  background-size: cover;
  height: 150vh;
}
.title
{
  position: relative;
  background-color: rgb(39, 129, 133);
  padding: 15px 0;
}
.word
{
  padding: 0 30px;
  font-size: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.feature1
{
  position: relative;
  top: 15%;
  width: 40%;
  height: auto;
  background-color: white;

}
img
{
 
  border-radius: 50%;
  position: absolute;
  width: 80%;

}

section.project
{
  background-color: yellow;
}
section.contact
{
  background-color: pink;
}
.hello_message
{
  position: relative;
  
}

header
{
 background: black;
 color: white;
 display: block;
 width: 100%;
 height: 10%;
 position: absolute;

}
