<div class ="container-fluid">
    <div>PORTFOLIO</div>
    <div>See my works below. Unless explicitly stated otherwise, all their back-end and front-end parts were completely done by me</div>
    <hr>
    <div class="timeline-body">
      <div class="timeline-item">
        <div class="timeline-time one">Now</div>
        <div class="timeline-content">
            During this time I took a temporary break from freelancing. Instead, I was an employee in medium-size tech companies. This gave me a lot of experience and hindsight on how a proper team collaboration,
            recruitment, and project management process should look like. See my CV for more details.
        </div>
      </div>
      <hr>
      <div class="timeline-item">
          <div class="timeline-time one">2020</div>
          <div class="timeline-content">
              During this time I took a temporary break from freelancing. Instead, I was an employee in medium-size tech companies. This gave me a lot of experience and hindsight on how a proper team collaboration,
              recruitment, and project management process should look like. See my CV for more details.
          </div>
        </div>
        <hr>
        <div class="timeline-item">
            <div class="timeline-time two">2019-2020</div>
            <div class="timeline-content">
                During this time I took a temporary break from freelancing. Instead, I was an employee in medium-size tech companies. This gave me a lot of experience and hindsight on how a proper team collaboration,
                recruitment, and project management process should look like. See my CV for more details.
            </div>
          </div>
          <hr>
          <div class="timeline-item">
              <div class="timeline-time two">2018-2019</div>
              <div class="timeline-content">
                  During this time I took a temporary break from freelancing. Instead, I was an employee in medium-size tech companies. This gave me a lot of experience and hindsight on how a proper team collaboration,
                  recruitment, and project management process should look like. See my CV for more details.
              </div>
            </div>
            <hr>
            <div class="timeline-item">
                <div class="timeline-time two">2018-2019</div>
                <div class="timeline-content">
                    During this time I took a temporary break from freelancing. Instead, I was an employee in medium-size tech companies. This gave me a lot of experience and hindsight on how a proper team collaboration,
                    recruitment, and project management process should look like. See my CV for more details.
                </div>
              </div>
              <hr>
              <div class="timeline-item">
                  <div class="timeline-time one">2018</div>
                  <div class="timeline-content">
                      During this time I took a temporary break from freelancing. Instead, I was an employee in medium-size tech companies. This gave me a lot of experience and hindsight on how a proper team collaboration,
                      recruitment, and project management process should look like. See my CV for more details.
                  </div>
                </div>

    </div>
</div>
