<html>
    <head>
        <title>To-do list</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id ='todo-list'> 
            <form>
                <input type= 'text' name ='item' placeholder="add new items" required>
                <button type ='submit'>Add</button>
            </form>
            <ul>
                <# for <li></li>
            </ul>
        </div>
    </body>
</html>