@media screen and (max-width: 768px) {
  .fa-star,
  .fa-bars {
    font-size: 40px;
  }
  .message {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  .fa-star {
    font-size: 60px;
  }
  .nav-item {
    margin-left: 100px;
    padding: 0px 10px;
  }
  .message {
    font-size: 25px;
  }
}
.navbar {
  background-color: black;
  height: auto;
}
.message {
  font-style: italic;
  color: green;
}
.nav-item {
  color: rgba(255, 255, 255, 0.301);
  font-size: 15px;
  outline: none;
  padding: 10px;
}

.nav-item:hover {
  color: white;
  font-size: 15.5px;
  cursor: pointer;
}
.active-link {
  color: white;
  font-size: 15px;
}
.fa-star {
  animation: rotate 2s infinite;
  color: green;
}
hr {
  background-color: white;
  color: white;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
