<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" *ngIf="!isLoading">
  <mat-form-field>
    <textarea matInput rows="2" formControlName="title" placeholder="TITLE:"></textarea>
    <mat-error *ngIf= "form.get('title').invalid">Enter a title</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput rows="6" formControlName="content" placeholder="CONTENT:"></textarea>
    <mat-error *ngIf= "form.get('content').invalid">Enter content</mat-error>
  </mat-form-field>
  <button
  type="button"
  mat-raised-button
  class = "bg-dark text-white mt-2 "
  (click)="file.click()">PICK IMAGE</button>
  <input type= file #file>
  <button
   (click)="onAddPost()"
   mat-raised-button
   class="bg-dark text-white">ADD POST
</button>
  </form>
</mat-card>
