<div class="container-fluid">
  <div class="title mt-5 ml-md-5 ml-0">CONTACT ME</div>
  <hr>
  <div class="sub-title mt-3 ml-md-5">I am available for hire and open to any ideas of cooperation.</div>
  <div class= "ml-md-5 mt-3">E-mail: <span class ="link"><a href="mailto:duytruong169@gmail.com" ><i class="fa fa-envelope-open"></i> duytruong169@gmail.com</a></span></div>
  <div class= "github ml-md-5">Github: <span class ="git-link"><a href="https://github.com/duytruong0916"><i class="fa fa-github icon" ></i> duytruong0916</a></span></div>
  <div class= "ml-md-5 mt-3">Facebook: <span class ="link"><a href="https://www.facebook.com/nhatduy.truong.90"><i class="fa fa-facebook icon" ></i> DuyTruong</a></span></div>
  <div class= "ml-md-5 mt-3">Instagram: <span class ="link"><a  href="https://www.instagram.com/nhatduy.truong.90/"><i class="fa fa-instagram icon" ></i> nhatduy.truong.90</a></span></div>

</div>
